data/
.DS_Store
notebooks/.ipynb_checkpoints/
*.gif
*.pkl
*.npy
*.nc
*.mp4
*.csv
__pycache__/
biblio/
source_alocation_notes/
presentation/
notebooks/Verifying_beaching-Fixing_Itajai.ipynb
article_figs/
animations/
revisions/
*.pdf
*.pptx