data/
.DS_Store
notebooks/.ipynb_checkpoints/
*.gif
*.pkl
*.npy
*.nc
*.mp4
__pycache__/
biblio/
source_alocation_notes/
presentation/
notebooks/Verifying_beaching-Fixing_Itajai.ipynb
article_figs/
animations/
Pierard_et_al_GRL_2021/
